{% extends 'portal/base/base.html' %}
{% load static %}
{% load range %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'portal/css/main.css' %}">
{% endblock %}
{% block content %}
    <div class="container-xl" style="padding: 10px 0; height: 100%">
        <div class="content-wrap">
            <p style="font-size:2.5rem"> KAKAO LOGIN </p>
            <a id="kakao-login-btn"></a>
            <a href="http://developers.kakao.com/logout"></a>
            <script type='text/javascript'>
              //<![CDATA[
                // 사용할 앱의 JavaScript 키를 설정해 주세요.
                Kakao.init("{{KAKAO_JS_KEY}}");
                // 카카오 로그인 버튼을 생성합니다.
                Kakao.Auth.createLoginButton({
                  container: '#kakao-login-btn',
                  success: function(authObj) {
                    alert(JSON.stringify(authObj));
                    console.log(JSON.stringify(authObj));
                  },
                  fail: function(err) {
                     alert(JSON.stringify(err));
                  }
                });
              //]]>
            </script>
            <p style="font-size:2.5rem"> Crawler </p>
            <button class="btn btn-primary">
                SLR site crawler run
            </button>
        </div>
    </div>
{% endblock %}