{% load static %}
<div class="portal-footer">
    <div class="footer-nav">
        <a href="#f">-</a>
    </div>
    <div class="container-xl footer-ck-info">
        <img src="{% static 'portal/image/main_page/notice_logo.png' %}" alt="gnk_logo">
        <div class="middle">
            <p class="m-0" style="color:#262d35; font-weight: 500">Geniyong Notice</p>
            <p class="m-0">Made By Jaeyong Cheon - GeniusYong</p>
            <p class="m-0" style="font-size: 12px">COPYRIGHT Jaeyong Cheon All RIGHTS RESERVED.</p>
        </div>
    </div>
</div>