{% load static %}
<div class="portal-header">
    <div class="portal-search-bar">
        <div class="container-xl p-0 portal-search-bar-wrap">
            <a class="header-logo" href="/">
                <img src="{% static 'portal/image/main_page/notice_logo.png' %}" alt="gnk_logo" style="max-height: 100%; max-width: 100%">
                <div style="display: inline-block; text-align: center; vertical-align: middle; font-size: 24px; color: rgb(80,80,80)">
                    <p class="m-0">Genius Yong</p>
                    <p class="m-0">Notice</p>
                </div>
            </a>
        </div>
    </div>
</div>